<h1 class="text-center"> Add Model To Brand</h1>
<%= form_for @model do |f| %>

    <div class="field text-center">
      <%= f.label :brand, 'Brand' %><br />
      <%= f.select :brand_id, options_for_select(Brand.pluck(:brand, :id)) %>
    </div>

    <div class="field text-center">
      <%= f.label :model, 'Model' %><br />
      <%= f.text_field :model, autofocus: true %>
    </div>

    <div class="actions text-center">
      <%= f.submit "Add Model" %>
    </div>
<% end %>