<h2 class="text-center text-[32px] font-serif mb-2">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center mb-2">
    <label>First name</label><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field text-center mb-2">
  <label>Last name</label><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "surname" %>
  </div>

  <div class="field text-center mb-2">
  <label>Phone number</label><br />
    <%= f.text_field :phone_num, autofocus: true, autocomplete: "telephone number" %>
  </div>

  <div class="field text-center mb-2">
  <label>Email</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field text-center mb-2">
    <label>Password</label><br/>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field text-center mb-2">
    <label>Password confirmation</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="grid place-items-center">
  <div class="actions text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 w-20 border border-blue-500 hover:border-transparent rounded">
    <a> <%= f.submit "Sign up" %> </a>
  </div>
  </div>
<% end %>

<div class="grid place-items-center mt-6">
  <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    <%= render "devise/shared/links" %>
  </div>
</div>
