<h1 class="text-center text-[32px] font-serif">All Offers</h1>
<div class="grid grid-cols-5 mx-20 gap-20">
<% @offers.each do |offer| %>
  <div class="text-center"> <p class="forn-serif hover:bg-sky-600"><%= link_to offer.brand.brand, offer_path(offer) %> <%= link_to offer.model.model, offer_path(offer) %> </p> <br>
  <% if offer.image[0] != nil %>
    <%= link_to image_tag(offer.image[0].url), offer_path(offer)  %> 
  <% end %>
  <% unless current_user.blank? %>
    <% if can? :manage, offer %>
      <%= button_to "Delete", offer, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
      <%= link_to "Edit", edit_offer_path(offer) %>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    
    <% end %>
    </div>
  <% end %>
  </div>

  
<div class="digg_pagination">
  <%= will_paginate @offers, :container => false %>
</div>
